{
    "Parameters": {
        "AWS_ACCESS_KEY_ID": "YOUR_AWS_ACCESS_KEY_ID",
        "AWS_SECRET_ACCESS_KEY": "AWS_SECRET_ACCESS_KEY",
        "AWS_REGION": "AWS_REGION",
        "AWS_ENDPOINT_URL": "AWS_ENDPOINT_URL",
        "DATABASE_HOST": "YOUR_DATABASE_HOST",
        "DATABASE_PORT": "YOUR_DATABASE_PORT",
        "DATABASE_NAME": "YOUR_DATABASE_NAME",
        "DATABASE_USER": "YOUR_DATABASE_USEr",
        "DATABASE_PASSWORD": "YOUR_DATABASE_PASSWORD",
        "CLOVA_SPEECH_SECRET_KEY": "YOUR_CLOVA_SPEECH_SECRET_KEY",
        "CLOVA_SPEECH_API_INVOKE_URL": "YOUR_CLOVA_SPEECH_API_INVOKE_URL"
    }
}
